<div class="row">
  <div class="col-md">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
</div>

<div class="row-md">
  <div class="col">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
  <div class="col-md">
    <app-item></app-item>
  </div>
</div>
