<div class="jumbotron header-top">
  <div class="container text-center header-top-inside">
    <h1>Online Store</h1>
    <p class="top-p">Mission, Vission & Values</p>
  </div>
</div>


<nav class="navbar navbar-expand-md navbar-dark bg-nav sticky-top">
  <a class="navbar-brand mr-4" routerLink="/products">RedHotStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-item nav-link" routerLink="/products">Home</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Categories
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/products">All</a>
          <a class="dropdown-item" routerLink="Clothes/products">Clothes</a>
          <a class="dropdown-item" routerLink="Accessories/products">Accessories</a>
        </div>
      </li>

      <li class="nav-item"><a class="nav-item nav-link" routerLink="/about">About</a></li>
      <li class="nav-item ml-2">
        <form class="form-inline" action="">
          <input class="form-control mr-sm-2" type="text" placeholder="Поиск товара">
          <button class="btn btn-success" type="submit">Найти</button>
        </form>
      </li>
    </ul>
    <!-- Navbar Right Side -->
    <ng-container *ngIf="!isLogged">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/login">Sing In</a>
        <a class="nav-item nav-link" routerLink="/register">Sing Up</a>
      </div>
    </ng-container>
    <ng-container *ngIf="isLogged">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/orders">Orders</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </ng-container>

  </div>
</nav>


<main role="main" class="container main_hold">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Online store</h5>
        <p>Platform to buy clothes and accessories</p>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/about" class="styled_link">About us</a>
          </li>
        </ul>
      </div>

      <div class="footer-copyright text-center">
        <h5>Created by</h5>
        <p>Vladislav Mun, Dmitriy Tuchashvili, 2019</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->


</footer>
