<div class="container" *ngIf="loaded">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4" id="image" (mouseenter)="mouseEnter('image', 'zoom', 'area')" (mouseleave)="mouseLeave('zoom', 'area')"
            (mousemove)="getMousePos($event, 'image', 'zoom-img', 'area')">
        <img src="../../assets/default-images/shoppingbag-.jpg"/>
      </div>
      <div class="area" id="area"></div>
      <div class="zoom" id="zoom">
        <img id="zoom-img" src="../../assets/default-images/shoppingbag-.jpg"/>
      </div>

      <div class="col-md-7">
        <div class="row">
          <h1>{{ product.name }}</h1>
        </div>

        <div class="row">
          <h6>Category: {{ product.category.name }}</h6>
        </div>

        <div class="row" style="margin-bottom: 20px">
          <h3>Price: {{ product.price }}₸</h3>
          <button type="submit" class="btn btn-success">Buy</button>
        </div>

        <div class="row">
          <p>{{ product.description}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

<app-comment-section *ngIf="loaded"></app-comment-section>
