<div class="container">
  <h1>Comments:</h1>
  <div class="jumbotron">
      <app-comment></app-comment>
  </div>
  <div class="jumbotron">
    <app-comment></app-comment>
  </div>
  <div class="jumbotron">
    <app-comment></app-comment>
  </div>
  <div class="jumbotron">
    <app-comment></app-comment>
  </div>

  <div class="jumbotron">
    <h3>Leave comment</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Комментарий"/>
    </div>
    <button class="btn btn-success" type="submit">Отправить</button>
  </div>
</div>
